<div class="pull-left">
    <h1 class="mt0">{{title}}</h1>
</div>
<div class="pull-right">
    <button class="btn btn-default js-publish" disabled="true">
        <span class="glyphicon glyphicon-save"></span>
        Publish PAC files
    </button>
</div>
