<td>
    {{host}}
</td>
<td class="text-center">
    <input {{#if active}}checked{{/if}} class="js-toggle" name="active" type="checkbox">
</td>
<td class="text-center">
    <a class="btn btn-default btn-sm js-edit" href="#">
        <span class="glyphicon glyphicon-edit"></span>
        <span class="sr-only">Edit</span>
    </a>
</td>
<td class="text-center">
    <a class="btn btn-default btn-sm js-delete" href="#">
        <span class="glyphicon glyphicon-remove"></span>
        <span class="sr-only">Delete</span>
    </a>
</td>
