.sublime-grunt.cache
pac-generator.sublime-project
pac-generator.sublime-workspace

bower_components
build
downloads
node_modules
public
release

backend/tests/test2.py
backend/db/credentials.js
frontend/js/lib
