.DS_Store
assets
dist
node_modules
pac-generator-db
predeploy
uploads
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# WebStorm Files
.idea