doctype html
html
    head
        title #{title}
        link(href='/css/lib/bootstrap/bootstrap.css', rel='stylesheet', type='text/css')
        link(href='/css/index.css', rel='stylesheet', type='text/css')
    body
        .container
            h1 #{title}
            .row
                .col-xs-6
                    #exceptions-region
                    #rules-region
                .col-xs-6
                    #proxies-region
        #modal-region
        script(id='proxy-template', type='text/template')
            | <td><%= name %></td>
            | <td class="text-center"><button class="btn btn-default btn-sm glyphicon glyphicon-copy" aria-hidden="true" href="#" title="Copy URL to clipboard"></button></td>
            | <td class="text-center"><a class="btn btn-default btn-sm glyphicon glyphicon-download" aria-hidden="true" href="/pac/<%= name.toLowerCase() %>/proxy.pac" title="Download"></a></td>
            | <td class="text-center"><a class="btn btn-default btn-sm glyphicon glyphicon-info-sign" aria-hidden="true" href="/proxies/<%= name.toLowerCase() %>" title="Show details"></a></td>
        script(id='exceptions-template', type='text/template')
            | <button class="btn btn-primary btn-sm js-create">New</button>
            | <table class="table table-bordered table-striped"></table>
        script(id='exception-template', type='text/template')
            | <td><%= host %></td>
            | <td class="text-center"><a class="btn btn-default btn-sm js-destroy" href="#">Delete</a></td>
        script(id='rule-template', type='text/template')
            | <td><%= host %></td>
        script(id='exception-form-template', type='text/template')
            | <input name="host" type="text" value="<%= host %>" />
            | <input type="submit" value="Save" />
        script(type='text/javascript', src='/js/lib/jquery/jquery.js')
        script(type='text/javascript', src='/js/lib/underscore/underscore.js')
        script(type='text/javascript', src='/js/lib/backbone/backbone.js')
        script(type='text/javascript', src='/js/lib/backbone-relational/backbone-relational.js')
        script(type='text/javascript', src='/js/lib/backbone.babysitter/backbone.babysitter.js')
        script(type='text/javascript', src='/js/lib/backbone.wreqr/backbone.wreqr.js')
        script(type='text/javascript', src='/js/lib/marionette/backbone.marionette.js')
        script(type='text/javascript', src='/js/lib/bootstrap/bootstrap.js')
        script(type='text/javascript', src='/js/index.js')
