doctype html
html
    head
        title #{title}
        link(href='/css/lib/bootstrap/bootstrap.css', rel='stylesheet', type='text/css')
        link(href='/css/lib/bootstrap.vertical-tabs/bootstrap.vertical-tabs.css', rel='stylesheet', type='text/css')
        link(href='/css/index.css', rel='stylesheet', type='text/css')
    body
        .container
            .row
                .col-xs-4
                    h1.h2 #{title}
                .col-xs-4
                    #alert-region
                .col-xs-4
                    #publish-region
            #nav-region
        #modal-region
        script(type='text/javascript', src='/js/index.js')
