doctype html
html
    head
        title #{title}
        link(href='/css/index.css', rel='stylesheet', type='text/css')
    body
        .container
            header#header-region(data-title='#{title}')
            nav#nav-region
            footer#footer-region
        #modal-region
        script(type='text/javascript', src='/js/libs.js')
        script(type='text/javascript', src='/js/app.js')
