html
    head
        title #{title}
    body
        h1 #{title}
        ul
            li
                a(href='/downloads/oak/proxy.pac') Oak
            li
                a(href='/downloads/palm/proxy.pac') Palm
            li
                a(href='/downloads/qagreen/proxy.pac') QA Green
            li
                a(href='/downloads/prod/proxy.pac') Prod
