<div class="row">
    <div class="col-sm-6">
        <h2 class="mt0">Proxies</h2>
    </div>
    <div class="col-sm-6 text-right">
        <div class="btn-group ">
            <a class="btn btn-default btn-sm js-create" href="#">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="sr-only">New</span>
            </a>
        </div>
    </div>
</div>
<table class="table table-bordered table-striped">
</table>
