<td>
    {{name}}<br>
    <small>{{href}}</small>
</td>
<td class="text-center">
    <a class="btn btn-default btn-sm js-edit" href="#">
        <span class="glyphicon glyphicon-edit"></span>
        <span class="sr-only">Edit</span>
    </a>
</td>
<td class="text-center">
    <button class="btn btn-default btn-sm js-publish" disabled="true">
        <span class="glyphicon glyphicon-save"></span>
        <span class="sr-only">Publish</span>
    </button>
</td>
<td class="text-center">
    <button class="btn btn-default btn-sm js-copy" data-toggle="tooltip" data-trigger="click" title="Copied to clipboard" type="button">
        <span class="glyphicon glyphicon-copy"></span>
        <span class="sr-only">Copy URL to clipboard</span>
    </button>
</td>
<td class="text-center">
    <a class="btn btn-default btn-sm js-delete" href="#">
        <span class="glyphicon glyphicon-remove"></span>
        <span class="sr-only">Delete</span>
    </a>
</td>
