<td>
    {{host}}
</td>
<td class="text-center">
    <a class="btn btn-default btn-sm glyphicon glyphicon-edit js-edit" href="#">
        <span class="sr-only">Edit</span>
    </a>
</td>
<td class="text-center">
    <a class="btn btn-default btn-sm glyphicon glyphicon-remove js-delete" href="#">
        <span class="sr-only">Delete</span>
    </a>
</td>
