<div class="col-xs-2">
    <ul class="nav nav-tabs tabs-left">
        <li class="active"><a href="#proxies-region" data-toggle="tab">Proxies</a></li>
        <li><a href="#rules-region" data-toggle="tab">Rules</a></li>
        <li><a href="#exceptions-region" data-toggle="tab">Exceptions</a></li>
    </ul>
</div>
<div class="col-xs-10">
    <div class="tab-content">
        <div class="tab-pane active" id="proxies-region"></div>
        <div class="tab-pane" id="rules-region"></div>
        <div class="tab-pane" id="exceptions-region"></div>
    </div>
</div>
